<mat-toolbar
  class="uncube-topnav"
  [class.mat-elevation-z6]="true"
  color="primary"
>
  <button *ngIf="isMobile" mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button [routerLink]="['/']">
    <mat-icon>timer</mat-icon>
    UnCube
  </a>
  <span class="spacer"></span>
  <div *ngIf="!isMobile && !loggedIn" class="web-controls">
    <a *ngIf="!loggedIn" mat-button (click)="loginClick()">Login</a>
    <a *ngIf="!loggedIn" mat-button (click)="registerClick()">Register</a>
  </div>

  <span class="beta-tag">BETA</span>

  <div *ngIf="isMobile && !loggedIn" class="mobile-controls">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu>
      <button mat-menu-item (click)="loginClick()">Login</button>
      <button mat-menu-item (click)="registerClick()">Register</button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="uncube-page" [class.mat-typography]="true">
  <router-outlet></router-outlet>
</div>
