<p>Hey {{name}},</p>
<p>Please click below to confirm your email and complete your UnCube
  registration</p>
<p>
  <a href='{{url}}'>Confirm</a>
</p>

<p>If you did not sign up for this service you can safely ignore this email.</p>
