@use '@angular/material' as mat;
@import '../../theme/variables.scss';

.solve-time {
  font-size: 24px;
  font-family: 'Sometype Mono', monospace;
}

.dnf {
  text-decoration: line-through;
}

.header-row {
  display: flex;
  width: 100%;
  place-items: center;
}

.spacer {
  flex: 1 1 auto;
}
